<h1 mat-dialog-title>Agregar/Editar estudiante</h1>
<div mat-dialog-content>
    <form class="flex flex-column" [formGroup]="studentForm">
        <div class="mb-2">
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input [formControl]="nameControl" matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint *ngIf="nameControl.errors">Hint</mat-hint>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input [formControl]="emailControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>



        <mat-form-field appearance="fill">
            <mat-label>Clave</mat-label>
            <input [formControl]="pass1Control" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
   
        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input [formControl]="direccionControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
   

        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input [formControl]="edadControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
   

        <mat-form-field appearance="fill">
            <mat-label>Sexo</mat-label>
            <input [formControl]="sexoControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>





        <mat-form-field>
            <mat-label>id</mat-label>
            <input [readonly]="true" [formControl]="idControl" matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
   





    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="close()">Cancelar</button>
    <button mat-button [mat-dialog-close]="studentForm.value" cdkFocusInitial>Guardar</button>
</div>
